#page-header {
  height: 400px;
  width: 100%;
  background-color: #5a88a6;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-header h2 {
  margin-top: 0;
}

@media only screen and (min-width: 1024px) {
  #page-header {
    display: flex;
    float: left;
    flex-direction: column;
    margin: 3em;
    width: 25%;
    height: auto;
    padding: 1em;
  }
}