nav {
  top: 0;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  position: fixed;
  width: 100%;
  height: 120px;
  color: #FFFFFF;
  padding: 1.5em;
}

nav span {
  font-family: 'Bungee', cursive;
}

nav #nav-msg {
  float: right;
}

nav #nav-msg p {
  margin: 0;
}

nav #nav-msg i {
  color: red;
  padding-left: 3em;
}


@media only screen and (min-width: 1024px) {
  nav {
    top: 0;
    background-color: #4056A1;
    background-image: none;
    position: fixed;
    width: 100%;
    height: 120px;
    color: #FFFFFF;
    padding: 1.5em;
  }
}