.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tweet-text {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background-color: #f4f1ec;
  margin-bottom: 0.5em;
}

#countButt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

#countButt button {
  background-color: #4056A1;
  color: white;
}

.negativeChar {
  color: red;
}

.err p {
  color: red;
  display: none;
  font-weight: bold;
  margin: 0 0.8em;
  padding: 0.6em;
  border: 0.1em dashed red;
}

.err {
  display: inline-block;
}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin: 0 2em;
    width: 95%;
  }

  #tweet-box {
    width: 95%;
    margin: 1em;
    padding: 1em;
  }
}